a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #4f7ca5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid #06315e30;
}

tr:nth-of-type(even) {
  background-color: #06315e10;
}

th.criteria {
  
}

th.features {
  width: 110px;
}

th.remarks {
  
}

td.criteria {
  
}

td.features {
  width: 110px;
}

td.remarks {
  
}
