<li>
	<a href="#" (click)="clickShowChat($event)">
		<div class="pull-left">
			<ng-content select="[dime='sendericon']"></ng-content>
		</div>
        <h4>
        {{firstname}} {{lastname}}
        	<small><i class="fa fa-clock-o"></i> {{getTime()}}</small>
        </h4>
        <p>{{getMessage()}}</p>
     </a>
</li>