<li [style.background-color]="getHighlight()" style="padding: 10px;border-bottom: 1px solid #f4f4f4;" role="menuitem">
	<a href style="color: black;" (click)="clickShowNotification($event)">
		<i aria-hidden="true" *ngIf="isHighlighted" class="fa fa-star"></i>
		<i aria-hidden="true" *ngIf="!isHighlighted" class="fa fa-circle-thin"></i>
		{{text}}
	</a>
</li>