<div class="progress" [style.width.px]="width">
    <div class="progress-bar progress-bar-striped" [style.width.%]="getPercentage()" [ngClass]="getColorClass()">
        <span class="progress-value">{{workload}}</span>
    </div>
</div>