<div aria-atomic="true" aria-live="polite" aria-label="final upload state indicator">
	<i class="item fa fa-file-text-o" [ngClass]="getPaperClass()" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getPaperTooltip()"></i>
	<i class="item fa fa-file-archive-o" [ngClass]="getArchiveClass()" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getArchiveTooltip()"></i>
	<i class="item fa fa-handshake-o" [ngClass]="getConsentClass()" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getConsentTooltip()"></i>
	<i class="item fa fa-user-o" [ngClass]="getRegistrantClass()" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getRegistrantTooltip()"></i>
</div>