<div aria-label="button group" class="btn-group toggle-buttongroup" role="navigation">
  <button aria-label="On" class="btn btn-sm toggle-button" [ngClass]="getOnClass()" tabindex="0" type="button" (click)="switchOn($event)">
    {{onText}}
  </button>
  <button aria-label="Off" class="btn btn-sm toggle-button" [ngClass]="getOffClass()" tabindex="1" type="button" (click)="switchOff($event)">
    {{offText}}
  </button>
</div>