.toggle-buttongroup {
  width: 100px;
}

.toggle-button {
  padding-left: 2px;
  padding-right: 2px;
  width: 50%;
}

.toggle-button-active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.toggle-button-on {
  background-color: #f4f4f4;
  color: #666;
  border-color: #aaa;
}

.toggle-button-on-active {
  color: #fff;
  background-color: #00a65a;
  border-color: #008d4c;
}

.toggle-button-off {
  background-color: #f4f4f4;
  color: #666;
  border-color: #aaa;
}

.toggle-button-off-active {
  color: #fff;
  background-color: #dd4b39;
  border-color: #d73925;
}
