<div id="test-plugin-template">
	<h1>This headline has been embedded as an GUI plugin template</h1>
	<p>If the background is awfully fuchsia then loading a css file has been successful as well.</p>
</div>