.subreview-state {
  background-color: #eee;
  overflow: hidden;
  height: 14px;
  padding: 1px;
}

.subreview-state-indicator {
  width: 36px;
  height: 12px;
  border-radius: 1px;
}

.subreview-state-indicator-invited {
  width: 14px;
  background-color: #f39c12;
}

.subreview-state-indicator-accepted {
  width: 22px;
  background-color: #a3bb1c;
}

.subreview-state-indicator-declined {
  width: 36px;
  background-color: #dd4b39;
}

.subreview-state-indicator-finished {
  width: 36px;
  background-color: #00a65a;
}