@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.keep-me-fixed {
    position: fixed;
    animation: 1s ease-out 0s 1 slideInFromTop;
    top: 10px;
    left:0;
    margin-left: 5%;
    width: 90%;
    z-index: 900;
}