.review-result {
  overflow: hidden;
  margin: 1px;
}

.review-result-evaluation {
  height: 18px;
  letter-spacing: 0px;
  white-space: nowrap;
  text-align: center;
  margin-top: -5px;
}

.review-result-evaluation-bubble {
  color: #888;
  font-size: 12px;
  margin: -1px;
}

.review-result-evaluation-bubble-empty {
  color: #888;
}

.review-result-evaluation-bubble-indifferent {
  color: #555;
}

.review-result-evaluation-bubble-weakreject-filled {
  color: #f36900;
}

.review-result-evaluation-bubble-weakreject-minus {
  color: #f36900;
}

.review-result-evaluation-bubble-reject-filled {
  color: #c30000;
}

.review-result-evaluation-bubble-reject-minus {
  color: #c30000;
}

.review-result-evaluation-bubble-weakaccept-filled {
  color: #85a900;
}

.review-result-evaluation-bubble-weakaccept-plus {
  color: #85a900;
}

.review-result-evaluation-bubble-accept-filled {
  color: #009607;
}

.review-result-evaluation-bubble-accept-plus {
  color: #009607;
}


.review-result-confidence {
  margin: 1px;
  height: 8px;
  border: 1px solid #888;
}

.review-result-confidence-bar {
  background-color: #04f;
  height: 100%;
}

.review-result-confidence-bar-high {
  width: 80%;
}

.review-result-confidence-bar-middle {
  width: 50%;
}

.review-result-confidence-bar-low {
  width: 20%;
}