<div class="review-result" [ngClass]="getReviewResultClass()" aria-atomic="true" aria-label="Show" aria-live="polite" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getTooltip()">
    <div class="review-result-evaluation" [ngClass]="getEvaluationClass()" aria-atomic="true" aria-label="Show" aria-live="polite">
		<i class="review-result-evaluation-bubble" [ngClass]="getEvaluationBubble1Class()"></i>
		<i class="review-result-evaluation-bubble" [ngClass]="getEvaluationBubble2Class()"></i>
		<i class="review-result-evaluation-bubble" [ngClass]="getEvaluationBubble3Class()"></i>
		<i class="review-result-evaluation-bubble" [ngClass]="getEvaluationBubble4Class()"></i>
		<i class="review-result-evaluation-bubble" [ngClass]="getEvaluationBubble5Class()"></i>
	</div>
	<div class="review-result-confidence" [ngClass]="getConfidenceClass()" aria-atomic="true" aria-label="Show" aria-live="polite">
	    <div class="progress-bar-striped review-result-confidence-bar" [ngClass]="getConfidenceBarClass()"></div>
	</div>
</div>