<div id="input-test-template">
	<h1>Input Test</h1>
	<p>The input values are:</p>
	<p>someText: <span id="someText"></span></p>
	<p>someTextStatic: <span id="someTextStatic"></span></p>
	<p>someInt: <span id="someInt"></span></p>
	<p>someIntStatic: <span id="someIntStatic"></span></p>
	<p>someComplexParam: <span id="someComplexParam"></span></p>
</div>