<div class="row">
  <div class="col-xs-12 text-left">
    <span class="span-primary">
      {{getName()}}
    </span>
  </div>
</div>
<div *ngIf="!isEmpty(getAffiliation())" class="row">
  <div class="col-xs-12 text-left">
    <span class="span-secondary">
      <small>
        {{getAffiliation()}}
      </small>
    </span>
  </div>
</div>
<div *ngIf="!isEmpty(getEmail())" class="row">
  <div class="col-xs-12 text-left">
    <span class="span-secondary">
      <small>
        {{getEmail()}}
      </small>
    </span>
  </div>
</div>