<nav class="navbar navbar-fixed-top navbar-shrink" id="mainNav" role="heading">
    <div class="container">
        <a tabindex="0" class="navbar-brand js-scroll-trigger" style="font-size: 20pt;" href (click)="triggerBack($event)">Equinocs </a>
        <button tabindex="-1" style="color: #fff;display:hidden" class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-external" aria-hidden="true">
            Menu
            <i aria-hidden="true" class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-external" aria-hidden="true">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<header id="page-top" class="masthead" [ngStyle]="getStyle()" role="main">
    <div class="h-100">
        <div class="row h-100" style="display: block;">
            <div class="col-lg-12 my-auto">
                <div class="header-content mx-auto" style="margin: auto;background: #ffffff00;padding: 30px;" [ngStyle]="getContentStyle()" aria-live="polite" aria-atomic="true">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="contact bg-primary " id="contact" role="region">
    <div class="container h-100">
	    <div class="section-heading text-center h-100" style="margin-top:  100px;margin-bottom: 150px;">
	        <h2 style="color: #000;">Contact Us</h2>
	        <p class="text-muted">
	        		<a href="mailto:OCS_support@springer.com" style="color: #000;">OCS_support@springer.com</a>
	        	</p>
	        <hr style="border-color: #ccdae2;">
	    </div>
    </div>
	<div class="row">
		<div class="col-xs-12">
			<img alt="springer nature logo" src="asset/img/Brand_Strip_single_line_A.png" style="margin-top: 5px;margin-bottom: 5px;margin-left: auto;margin-right: auto;display: block;width: 90%;">
		</div>
	</div>
</section>

<footer style="margin-top: 25px;" role="contentinfo">
    <div class="row" style="color: black; display: block;">
        <div class="col-lg-12">
            <img alt="springer nature logo" src="asset/img/SN_logo.png" style="margin-top: 10px;margin-bottom: 5px;margin-left: auto;margin-right: auto;display: block;height: 25px;">
        </div>
    </div>
    <div class="row" style="color: black; display: block;">
        <div class="col-lg-12 text-center">
            <p class="text-center" style="margin-top: 15px;">
                <a href (click)="toLegal($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Legal Notice</a>
                <a href (click)="toTermsAndConditions($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Terms and Conditions</a>
                <a href="http://www.springer.com/gp/privacy-statement/627414" target="_blank" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Privacy</a>
                <a href (click)="toAccessibility($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Accessibility</a>
					 <!--
                <a href (click)="toPrivacy($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Privacy</a>
					 -->
            </p>
        </div>
    </div>
	<div class="row" style="margin-top: 10px;">
		<div class="col-xs-12">
            <p style="font-size: 14px; color: #555;" class="text-center">
			    Copyright © 2018 <a style="color:#595959;text-decoration: underline;" href="http://www.springernature.com/">Springer Nature</a>
            </p>
            <p style="font-size: 14px; color: #555; margin-top:-5px;" class="text-center">
			    All rights reserved
            </p>
        </div>
    </div>
</footer>
