<div id="stacked-progress-bar" class="progress stacked-progress-bar">
    <div id="tacho-green" (click)="triggerGreen()" class="progress-bar progress-bar-success  progress-bar-striped" style="cursor:pointer;"
      [style.width]="greenPercentage" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getGreenTooltip()">
        <span id="tacho-green-value" class="progress-value">{{greenName}}: {{greenCount}}</span>
    </div>
    <div id="tacho-orange" (click)="triggerOrange()" class="progress-bar progress-bar-warning progress-bar-striped" style="cursor:pointer;"
      [style.width]="orangePercentage" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getOrangeTooltip()">
        <span id="tacho-orange-value" class="progress-value">{{orangeName}}: {{orangeCount}}</span>
    </div>
    <div id="tacho-red" (click)="triggerRed()" class="progress-bar progress-bar-danger  progress-bar-striped" style="cursor:pointer;"
      [style.width]="redPercentage" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getRedTooltip()">
        <span id="tacho-red-value" class="progress-value">{{redName}}: {{redCount}}</span>
    </div>
</div>