<div *ngIf="visible" [ngClass]="getClass()" class="alert-dismissible" role="alert" style="
	    padding: 10px;
	    min-width: 50%;
	    max-width: 700px;
	    position:fixed;
	    top:0;
	    z-index:999999;">
	<div class="row" style="margin: 0 5px;">
        <div class="col-xs-11" style="margin-top: 10px; margin-bottom: 10px;">
            <ng-content select="[dime-placeholder=notifiercontent]"></ng-content>
        </div>
        <div class="col-xs-1" style="padding: 0 5px;">
            <button (click)="hide()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>