div.freeze-options {
  padding: 10px;
}

div.freeze-option {
  margin-right: 5px;
}

input.freeze-custom-value {
  font-size: 1.2em;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 5px;
}
