<div class="freeze-options">
	<div class="freeze-option">
		<label>
			<input (change)="selectComplete($event)" type="radio" name="freeze-option" value="complete" checked>
			Freeze all complete assignments
		</label>
	</div>
	<div class="freeze-option">
		<label>
			<input (change)="selectCustom($event)" type="radio" name="freeze-option" value="custom">
			Freeze assignments with at least <input class="freeze-custom-value" (change)="updateMinAssignees($event)" type="number" min="1" value="1" name="min-assignees"> assignee(s)
		</label>
		<div *ngIf="custom && (minAssignees <= 0)">Please select at least 1 assignee as a minimum.</div>
	</div>
</div>
