.circle {
    background: #777 ;
    color: #fff;
    font-weight: bold;
    display: table;
    border-style: solid;
    border-color: #00000033;
    border-collapse: initial;
    border-radius: 50%;
    margin: 0 auto;
    cursor: default;
}
.circle p {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
