node circle {
    stroke: #999;
}

.node text:not(.subtitle) {
    font: 10px sans-serif;
    fill: black;
    text-decoration: underline;
}

.node text.subtitle {
    font: 9px sans-serif;
    fill: #999;

}

.node-selected text:not(.subtitle) {
    stroke-width: 0.5;
    stroke: blue;
    text-decoration: underline;
}

.node-selected circle {
    stroke: blue
}

.node--internal circle {
    fill: #555;
}


.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
