<ul>
        <li *ngIf="!checkOneSubmission()">At least one submission is required</li>
        <li *ngIf="!checkOneNode()">At least one node is required</li>
        <li *ngIf="!checkSubmissionsAreLeafs()">The submission nodes have no sub-structures: {{renderNodeLabels(checkSubmissionsAreLeafsNodes)}}</li>
        <li *ngIf="!checkOneCompound()">At least one compound is required</li>
        <li *ngIf="!checkNoMultipleCompound()">Just one compound per path allowed: {{renderNodeLabels(checkNoMultipleCompoundNodes)}}</li>
        <li *ngIf="!checkSubmissionIsReachable()">Submission is not reachable by compound: {{renderNodeLabels(checkSubmissionIsReachableNodes)}}</li>
</ul>
<svg id="conference_structure" width="800" height="400"></svg>
<ng-content></ng-content>
