li.treeview:not(.menu-open) > ul[style*="display: none"] > li {
	display: none!important;
	background-color: #00a65a;
}

li.treeview:not(.menu-open) > ul[style*="display: none"] > li {
	display: none!important;
	background-color: #00a65a;
}

li.treeview:not(.menu-open) > ul {
	visibility: hidden;
}

.btn {
	transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;
}

.btn>.glyphicon {
	top: 2px;
    right: 2px;
}

.btn.btn-default:not([dime*="main-button"]) {
	background-color: #fff;
	color: #222;
	border-color: #cacaca;
}
.btn.btn-default:not([dime*="main-button"]):hover {
	background-color: #e2e2e2;
	color: #000;
	outline: 0;
	box-shadow: inset 0 1px 1px #cacaca13, 0 0 8px #cacaca99;
	-webkit-box-shadow: inset 0 1px 1px #cacaca13, 0 0 8px #cacaca99;
}

.btn.btn-primary:not([dime*="main-button"]) {
	background-color: #fff;
	color: #2a607f;
	border-color: #3c8dbc;
}
.btn.btn-primary:not([dime*="main-button"]):hover {
	color: #fff;
	background-color: #3c8dbc;
	outline: 0;
	box-shadow: inset 0 1px 1px #3c8dbc13, 0 0 8px #3c8dbc99;
	-webkit-box-shadow: inset 0 1px 1px #3c8dbc13, 0 0 8px #3c8dbc99;
}

.btn.btn-info:not([dime*="main-button"]) {
	background-color: #fff;
	color: #005c73;
	border-color: #00aad4;
}
.btn.btn-info:not([dime*="main-button"]):hover {
	color: #fff;
	background-color: #00aad4;
	outline: 0;
	box-shadow: inset 0 1px 1px #00aad413, 0 0 8px #00aad499;
	-webkit-box-shadow: inset 0 1px 1px #00aad413, 0 0 8px #00aad499;
}

.btn.btn-success:not([dime*="main-button"]) {
	background-color: #fff;
	color: #006f3c;
	border-color: #00a65a;
}
.btn.btn-success:not([dime*="main-button"]):hover {
	color: #fff;
	background-color: #00a65a;
	outline: 0;
	box-shadow: inset 0 1px 1px #00a65a13, 0 0 8px #00a65a99;
	-webkit-box-shadow: inset 0 1px 1px #00a65a13, 0 0 8px #00a65a99;
}

.btn.btn-warning:not([dime*="main-button"]) {
	background-color: #fff;
	color: #a86800;
	border-color: #e48c00;
}
.btn.btn-warning:not([dime*="main-button"]):hover {
	color: #fff;
	background-color: #f39c12;
	outline: 0;
	box-shadow: inset 0 1px 1px #f39c1213, 0 0 8px #f39c1299;
	-webkit-box-shadow: inset 0 1px 1px #f39c1213, 0 0 8px #f39c1299;
}

.btn.btn-danger:not([dime*="main-button"]) {
	background-color: #fff;
	color: #981100;
	border-color: #dd4b39;
}
.btn.btn-danger:not([dime*="main-button"]):hover {
	color: #fff;
	background-color: #dd4b39;
	outline: 0;
	box-shadow: inset 0 1px 1px #dd4b3913, 0 0 8px #dd4b3999;
	-webkit-box-shadow: inset 0 1px 1px #dd4b3913, 0 0 8px #dd4b3999;
}

.label.label-default {
	border-color: #7d7d7d !important;
	color: #5a5a5a !important;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff !important;
}
.label.label-primary {
	border-color: #3c8dbc !important;
	color: #005586 !important;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff !important;
}
.label.label-info {
	border-color: #00c0ef !important;
	color: #007c9a !important;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff !important;
}
.label.label-success {
	border-color: #009651 !important;
	color: #009651 !important;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff !important;
}
.label.label-warning {
	border-color: #f39c12 !important;
	color: #a56500 !important;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff !important;
}
.label.label-danger {
	border-color: #dd4b39 !important;
	color: #981100 !important;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff !important;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #879cb1;
}

.form-control:focus {
	border-color: #3c8dbc;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px #3c8dbc13, 0 0 8px #3c8dbc99;
	box-shadow: inset 0 1px 1px #3c8dbc13, 0 0 8px #3c8dbc99;
}

.skin-black-light .sidebar-menu>li:hover>a,
.skin-black-light .sidebar-menu>li.active>a {
	color: #000;
	background: #ffffffaa;
}

.sidebar-menu li>a>.pull-right-container {
	margin-top: -8px;
}

.sidebar-menu>li .label, .sidebar-menu>li .badge {
	padding: 2px 6px;
}
