<div class="switch-success ats-switch" 
     [ngClass]="{'disabled': disabled}"
     (click)="toggle($event)"
     [attr.title]="disabled ? disabledMessage : 'Click to toggle'"
     role="switch"
     tabindex="0">
    <div class="switch-animate switch-on" [ngClass]="{'switch-off': !status, 'switch-on': status}">
        <span class="switch-left">{{onText}}</span>
        <span class="knob">&nbsp;</span>
        <span class="switch-right">{{offText}}</span>
    </div>
</div>