<div #tooltipatrget (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip($event)">
    <ng-content select="[dime-placeholder=content]"></ng-content>
</div>
<div class="popover" (mouseenter)="keepTooltip($event)" (mouseleave)="hideTooltip($event)" [ngClass]="getPositionClass()" role="tooltip" [style.bottom]="bottom" [style.right]="right" [style.top]="top" [style.left]="left"
     style="display: inline-block;
    padding: 10px;
    max-width: none;
    width: max-content;">
    <div #tooltipsource class="popover-content" style="max-width: none;width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <ng-content select="[dime-placeholder=hover]"></ng-content>
            </div>
        </div>
    </div>
</div>