<nav class="navbar navbar-fixed-top navbar-shrink" id="mainNav" role="heading">
    <div class="container">
        <a tabindex="0" class="navbar-brand js-scroll-trigger" style="font-size: 20pt;" href (click)="scrollTo($event,'page-top')" aria-label="to homepage" >Equinocs </a>
        <button tabindex="0" style="color: #fff;" class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-landing" aria-controls="navbar-collapse-landing" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i aria-hidden="true" class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-landing" role="menubar">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" role="menuitem">
                    <a tabindex="0" class="nav-link js-scroll-trigger" style="font-size: 12pt;" href (click)="scrollTo($event,'features')">Features</a>
                </li>
                <li class="nav-item" role="menuitem">
                    <a tabindex="0" class="nav-link js-scroll-trigger" style="font-size: 12pt;" href (click)="scrollTo($event,'contact')">Contact</a>
                </li>
                <li class="nav-item" role="menuitem">
                    <a tabindex="0" class="nav-link" style="font-size: 12pt;" href (click)="clickLogin($event)">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top" class="masthead" role="main">
    <div class="container h-50">
        <div class="row h-100">
            <div class="col-xs-12 my-auto" style="margin:auto;text-align:center;">
                <img alt="eqinosc logo" src="asset/img/equinocs-logo-orange-white.svg" style="width:270px;"/>
            </div>
            <div class="col-xs-12 my-auto">
                <div class="header-content mx-auto" style="margin:auto;">
                    <h1 class="mb-5"><strong>Equinocs</strong> is a professional web application for intent-based conference management.</h1>
                    <a (click)="clickLogin($event)" class="btn btn-xl btn-outline-secundary js-scroll-trigger" href style="margin-top: 35px; margin-right:10px; width:200px;" >Login</a>
                    <a href (click)="clickRegister($event)" class="btn btn-outline btn-xl js-scroll-trigger" style="margin-top: 35px; margin-left:10px; width:200px;" >Register Now</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="features" id="features" role="region">
    <div class="container h-100">
        <div class="section-heading text-center h-100">
            <h2>Equinocs</h2>
            <p class="text-muted">The modern way to manage your conference</p>
            <hr>
        </div>
        <div class="row h-100">
            <div class="col-lg-12 my-auto" style="margin-left: auto;margin-right: auto;">
                <div class="container-fluid">
                    <div class="row h-100">
                        <div class="col-lg-6" style="margin:auto;">
                            <div class="feature-item">
                                <i aria-hidden="true" class="fa fa-lightbulb-o text-primary"></i>
                                <h3>Based on Intents</h3>
                                <p class="text-muted">Usage of the service is centered around your intents for a conference.</p>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin:auto;">
                            <div class="feature-item">
                                <i aria-hidden="true" class="fa fa-bell-o text-primary"></i>
                                <h3>Push Notifications</h3>
                                <p class="text-muted">Don't search for changes, they will notify you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row h-100">
                        <div class="col-lg-6" style="margin:auto;">
                            <div class="feature-item">
                                <i aria-hidden="true" class="fa fa-sitemap text-primary"></i>
                                <h3>Customizable Organisation</h3>
                                <p class="text-muted">Whatever structure for your conference and involved people you need!</p>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin:auto;">
                            <div class="feature-item">
                                <i aria-hidden="true" class="fa fa-circle-o text-primary"></i>
                                <h3>Clean Design</h3>
                                <p class="text-muted">Modern single-page design based on state of the art technology.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact bg-primary " id="contact" role="region">
    <div class="container h-100">
	    <div class="section-heading text-center h-100" style="margin-top:  100px;margin-bottom: 150px;">
	        <h2 style="color: #000;">Contact Us</h2>
	        <p class="text-muted">
	        		<a href="mailto:OCS_support@springer.com" style="color: #000;">OCS_support@springer.com</a>
	        	</p>
	        <hr style="border-color: #ccdae2;">
	    </div>
    </div>
	<div class="row">
		<div class="col-xs-12">
			<img alt="springer nature brand strip" src="asset/img/Brand_Strip_single_line_A.png" style="margin-top: 5px;margin-bottom: 5px;margin-left: auto;margin-right: auto;display: block;width: 90%;">
		</div>
	</div>
</section>

<footer style="margin-top: 25px;" role="contentinfo" aria-label="page footer" >
    <div class="row" style="color: black; display: block;">
        <div class="col-lg-12">
            <img alt="springer nature logo" src="asset/img/SN_logo.png" style="margin-top: 10px;margin-bottom: 5px;margin-left: auto;margin-right: auto;display: block;height: 25px;">
        </div>
    </div>
    <div class="row" style="color: black; display: block;">
        <div class="col-lg-12 text-center">
            <p class="text-center" style="margin-top: 15px;">
                <a href (click)="toLegal($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Legal Notice</a>
                <a href (click)="toTermsAndConditions($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Terms and Conditions</a>
                <a href="https://www.springer.com/gp/privacy-statement/627414" target="_blank" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Privacy</a>
                 <a href (click)="toAccessibility($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Accessibility</a>
					 <!--
                <a href (click)="toPrivacy($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Privacy</a>
					 -->
            </p>
        </div>
    </div>
	<div class="row" style="margin-top: 10px;">
		<div class="col-xs-12">
            <p style="font-size: 14px; color: #595959;" class="text-center">
			    Copyright © 2018 <a style="color:#0F3660;text-decoration: underline;" href="http://www.springernature.com/">Springer Nature</a>
            </p>
            <p style="font-size: 14px; color: #555; margin-top:-5px;" class="text-center">
			    All rights reserved
            </p>
        </div>
    </div>
</footer>
