.text-muted {
		color: #595959;
	}
.h-100 {
    height: 100%!important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mb-auto, .my-auto {
    margin-bottom: auto!important;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
body,
html {
    width: 100%;
    height: 100%
}
body {
    font-family: Muli, Helvetica, Arial, sans-serif
}
a {
    color: #ec6010;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s
}
a:focus,
a:hover {
    color: #ec6010
}
hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, .1)
}
hr.light {
    border-color: #fff
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px
}
section {
    padding: 100px 0
}
section h2 {
    font-size: 50px
}
.navbar>.container, .navbar>.container-fluid {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#mainNav {
    border-color: rgba(34, 34, 34, .05);
    background-color: #0f3660e8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}
#mainNav .navbar-brand {
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #ec6010
}
#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border-radius: .25rem;
}
#mainNav .navbar-nav>li>a {
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase
}
#mainNav .navbar-nav>li>a.active {
    color: #ec6010!important;
    background-color: transparent
}
#mainNav .navbar-nav>li>a.active:hover,
#mainNav .navbar-nav>li>a.active:focus {
    background-color: transparent
}
#mainNav .navbar-nav>li>a.nav-link:hover,
#mainNav .navbar-nav>li>a.nav-link:focus {
    color:black
}
#mainNav .navbar-nav>li>a {
    color: #ccc;
}
#mainNav .navbar-nav>li>a:focus,
#mainNav .navbar-nav>li>a:hover {
    color: #ec6010
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 1200px)  {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width : 1199px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 992px)  {
    #mainNav {
        border-color: transparent;
        background-color: transparent
    }
    #mainNav .navbar-brand {
        color: fade(white, 70%)
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #fff
    }
    #mainNav .navbar-nav>li>a {
        color: rgba(255, 255, 255, .7)
    }
    #mainNav .navbar-nav>li>a:focus,
    #mainNav .navbar-nav>li>a:hover {
        color: #fff
    }
    #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, .1);
        background-color: #0f3660e8
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #ccc
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #ec6010
    }
    #mainNav.navbar-shrink .navbar-nav>li>a {
        color: #ccc
    }
    #mainNav.navbar-shrink .navbar-nav>li>a:focus,
    #mainNav.navbar-shrink .navbar-nav>li>a:hover {
        color: #ec6010
    }
    header.masthead {
        height: 100vh;
        min-height: 675px;
        padding-top: 0;
        padding-bottom: 0
    }
    header.masthead .header-content {
        margin-bottom: 0;
        text-align: left
    }
    header.masthead .header-content h1 {
        font-size: 50px
    }
    header.masthead .device-container {
        max-width: 325px
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    section.features .device-container {
        margin-bottom: 0
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: 720px;
    }
}
@media (max-width: 453px){
    a.btn.btn-outline.btn-xl {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}
@media (min-width: 768px) {
    section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0
    }
    section.download h2 {
        font-size: 70px
    }
    section.cta .cta-content h2 {
        font-size: 80px
    }
    .navbar-toggler {
        display: none;
    }
}
@media (min-width: 1px) and (max-width: 767px){
    .container {
        max-width: 540px;
    }
    .navbar>.container, .navbar>.container-fluid {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

}
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
    background: #002c5acc;
    background: -webkit-radial-gradient(circle at top 300px center, #002c5acc, #002c5a);
    background: radial-gradient(circle at top 300px center, #002c5acc, #002c5a);
}
header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center
}
header.masthead .header-content h1 {
    font-size: 30px
}
header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto
}
header.masthead .device-container .screen img {
    border-radius: 3px
}
section.download {
    position: relative;
    padding: 150px 0
}
section.download h2 {
    font-size: 50px;
    margin-top: 0
}
section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px
}
section.download .badges .badge-link:last-child {
    margin-bottom: 0
}
section.download .badges .badge-link img {
    height: 60px
}

section.features .section-heading {
    margin-bottom: 100px
}
section.features .section-heading h2 {
    margin-top: 0
}
section.features .section-heading p {
    margin-bottom: 0
}
section.features .device-container,
section.features .feature-item {
    max-width: 325px;
    margin: 0 auto
}
section.features .device-container {
    margin-bottom: 100px
}

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center
}
section.features .feature-item h3 {
    font-size: 30px
}
section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #002c5acc, #002c5a);
    background: linear-gradient(to left, #002c5acc, #002c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

section.cta .cta-content {
    position: relative;
    z-index: 1
}
section.cta .cta-content h2 {
    font-size: 50px;
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff
}

section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}
section.contact {
    text-align: center
}
section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px
}
section.contact h2 i {
    color: #dd4b39
}
section.contact ul.list-social {
    margin-bottom: 0
}
section.contact ul.list-social li a {
    font-size: 40px;
    line-height: 80px;
    display: block;
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 100%
}
section.contact ul.list-social li.social-twitter a {
    background-color: #1da1f2
}
section.contact ul.list-social li.social-twitter a:hover,
section.contact ul.list-social li.social-twitter a:focus {
    background-color: #0d95e8
}
section.contact ul.list-social li.social-facebook a {
    background-color: #3b5998
}
section.contact ul.list-social li.social-facebook a:hover,
section.contact ul.list-social li.social-facebook a:focus {
    background-color: #344e86
}
section.contact ul.list-social li.social-google-plus a {
    background-color: #dd4b39
}
section.contact ul.list-social li.social-google-plus a:hover,
section.contact ul.list-social li.social-google-plus a:focus {
    background-color: #d73925
}
footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, .3);
    background-color: #fff
}
footer p {
    font-size: 12px;
    margin: 0
}
footer ul {
    margin-bottom: 0
}
footer ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, .3)
}
footer ul li a.active,
footer ul li a:active,
footer ul li a:focus,
footer ul li a:hover {
    text-decoration: none
}
.bg-primary {
    background: #ec6010;
    background: -webkit-linear-gradient(#9ab9ff, #a3b9cc);
    background: linear-gradient(#9ab9ff, #a3b9cc)
}
.text-primary {
    color: #ec6010
}
.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}
.btn-outline {
    color: #fff;
    border: 1px solid;
    border-color: #ec6010;
    background-color: #ec6010b0;
    font-size: 14px;
	padding: 15px 0px
}
.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    color: #fff;
    border-color: #fff;
    border: 1px solid;
    background-color: #ec6010
}
.btn-outline-secundary {
    color: #fff;
    border: 1px solid;
    border-color: #6a8bad;
    background-color: #103661b0;
    font-size: 14px;
	padding: 15px 0px
}
.btn-outline-secundary.active,
.btn-outline-secundary:active,
.btn-outline-secundary:focus,
.btn-outline-secundary:hover {
    color: #fff;
    border: 1px solid;
    border-color: #fff;
    background-color: #325479
}
.btn {
    border-radius: 300px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase
}
.btn-xl {
    font-size: 11px;
    padding: 15px 45px
}
a.terms {
		color:#fff;
}
a.terms:hover {
		color:#fff;
		text-decoration: underline;
}
