<div class="skin-black-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header" role="heading" aria-label="site top navigation">
            <!-- Logo -->
            <a tabindex="0" href class="logo" (click)="clickShowConferences($event)" style="background: #ecf0f5;position: fixed;" aria-label="Select Conferences">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span aria-hidden="true" class="logo-mini"><b style="color:#20335d">S</b><b style="color:#db1830">N</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                		<img src="asset/img/SN_logo.png" style="width:170px;" alt="springer nature logo">
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-fixed-top" style="background: #ecf0f5" >
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" aria-label="expand and collapse side menu">
                    <span aria-hidden="true" class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                         <!--
                        <li class="dropdown messages-menu" role="menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menuitem" aria-label="show last messages">
                                <i aria-hidden="true" class="fa fa-envelope-o"></i>
                                <span aria-hidden="true" class="label label-success">{{messagesNotifications}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" aria-live="polite" aria-atomic="true">You have {{messagesNotifications}} new messages</li>
                                <li>
                                    <ul class="menu" aria-live="polite" aria-atomic="true">
                                        <ng-content select="[dime-placeholder=messages]"></ng-content>
                                    </ul>
                                </li>
                                <li class="footer"><a style="color: #fff!important;" href="#" (click)="clickShowMessages($event)">See All Messages</a></li>
                            </ul>
                        </li>
                        -->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-label="show last notifications" id="showNotifications">
                                <i aria-hidden="true" class="fa fa-bell-o"></i> Notifications <span class="badge" style="border-color: #f39c12 !important;color: #a56500 !important;border-radius: 20px;border-width: 2px;border-style: solid;background-color: #fff !important; padding: 2px 6px; font-size: 75%;">{{newsNotifications}}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="showNotifications" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: #002c5a;background: -webkit-radial-gradient(circle at top 50px center, #002c5acc, #002c5a);background: radial-gradient(circle at top 50px center, #002c5add, #002c5a);">
                                <li class="header" aria-live="polite" aria-atomic="true" style="background: transparent; color: #fff;">{{getNotificationMessage(newsNotifications)}}</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" aria-live="polite" aria-atomic="true">
                                        <ng-content select="[dime-placeholder=notifications]"></ng-content>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#" style="background: transparent;color: #fff!important;" (click)="clickShowNotifications($event)">View all</a></li>
                            </ul>
                        </li>
                        <!--
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i aria-hidden="true" class="fa fa-flag-o"></i>
                                <span class="label label-danger">{{tasksNotifications}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" aria-live="polite" aria-atomic="true">You have {{tasksNotifications}} active tasks</li>
                                <li>
                        <ul class="menu" aria-live="polite" aria-atomic="true">
                            <ng-content select="[dime-placeholder='tasks']"></ng-content>
                        </ul>
                        </li>
                        <li class="footer">
                            <a style="background: linear-gradient(to left, #002c5acc, #002c5a); color: #fff!important;" href (click)="clickShowTasks($event)">View all tasks</a>
                        </li>
                    </ul>
                    </li>
                    -->
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 7px; padding-bottom: 7px;" aria-label="show user account dropdown" id="showUserAccount">
                            <ng-content select="[dime-placeholder=usericon]"></ng-content>
                            <!--span class="hidden-xs">{{firstname}} {{lastname}}</span-->
                        </a>
                        <ul aria-labelledby="showUserAccount" class="dropdown-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: #002c5a;background: -webkit-radial-gradient(circle at top 50px center, #002c5acc, #002c5a);background: radial-gradient(circle at top 50px center, #002c5add, #002c5a);">
                            <!-- User image -->
                            <li class="user-header" style="background: transparent; color: #fff;">
                                <ng-content select="[dime-placeholder=largeusericon]"></ng-content>
                                <p>
                                    {{firstname}} {{lastname}}
                                    <small>@{{username}}</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer" style="background: transparent; color: #fff;">
                                <div class="pull-left">
                                    <a tabindex="0" href (click)="clickShowProfile($event)" class="dime-focusable btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a tabindex="0" href="/app/logout" class="dime-focusable btn btn-default btn-flat">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/app/logout" style="color:#dd4b39;" aria-label="Logout" >
                            <i aria-hidden="true" class="fa fa-power-off"></i>
                        </a>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="background: #ecf0f5;position: fixed;" role="navigation">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" >
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree" role="navigation">

                    <li>
                        <a href (click)="clickSwitchConference($event)">
                            <i aria-hidden="true" class="fa fa-institution"></i>
                            <span>Select Conference</span>
                        </a>
                    </li>
                    <template [ngIf]="isConferenceSelected()">
                    		<li class="header" style="cursor:pointer;height: 55px; background: #002c5a; background: -webkit-radial-gradient(circle at top 20px center, #002c5acc, #002c5a); background: radial-gradient(circle at top 20px center, #002c5acc, #002c5a); color:#fff;" (click)="clickShowConference($event)">
    							<p style="text-align:center;min-width:200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 25ch;color: #fff;font-size: 14px;font-weight: 600;margin: 0;" aria-live="polite" aria-atomic="true">{{selectedConference}}</p>
                             <p style="font-family: 'Helvetica Neue',Helvetica,'Source Sans Pro',Arial,sans-serif; font-weight: 400; font-size: 14px; text-align: center; padding-top: 5px; min-width: 200px;">INTENTS</p>
						</li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canConfigure" data-placement="right" [title]="canConfigure?'':textConfigure">
                            <a href (click)="clickShowIntent($event,'configure')" [class.intent-disabled]="!canConfigure">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-cogs"></i> <span>Configure</span>
                                <span class="pull-right-container" *ngIf="countConfigure>0">
	                                <span class="label label-primary pull-right">{{countConfigure}}</span>
	                            </span>
                            </a>
                        </li>
                         <li [style.background-color]="getConferenceColor()" class="intent-border">
                            <a href (click)="clickShowIntent($event,'submit')">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-paper-plane"></i>
                                <span>Submit</span>
                                <span class="pull-right-container">
                            </span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canOverview" data-placement="right" [title]="canOverview?'':textOverview">
                            <a href (click)="clickShowIntent($event,'overview')" [class.intent-disabled]="!canOverview">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-eye"></i> <span>View Papers</span>
                                <span class="pull-right-container" *ngIf="countOverview>0">
                                <span class="label label-primary pull-right">{{countOverview}}</span>
                            </span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canBid" [title]="canBid?'':textBid">
                            <a href (click)="clickShowIntent($event,'bid')" [class.intent-disabled]="!canBid">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-check-square-o"></i> <span>Bid</span>
                                <span class="pull-right-container" *ngIf="countBid>0">
                                <span class="label label-primary pull-right">{{countBid}}</span>
                            </span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canAssign" data-placement="right" [title]="canAssign?'':textAssign">
                            <a href (click)="clickShowIntent($event,'assign')" [class.intent-disabled]="!canAssign">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-random"></i> <span>Assign</span>
                                <span class="pull-right-container" *ngIf="countAssign>0">
                                <span class="label label-primary pull-right">{{countAssign}}</span>
                            </span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canReview" data-placement="right" [title]="canReview?'':textReview">
                            <a href (click)="clickShowIntent($event,'review')" [class.intent-disabled]="!canReview">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa  fa-star-half-full"></i> <span>Review</span>
                                <span class="pull-right-container" *ngIf="countReview>0">
                                <span class="label label-primary pull-right">{{countReview}}</span>
                            </span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canDiscuss" data-placement="right" [title]="canDiscuss?'':textDiscuss">
                            <a href (click)="clickShowIntent($event,'discuss')" [class.intent-disabled]="!canDiscuss">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-wechat"></i> <span>Discuss</span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canDecide" data-placement="right" [title]="canDecide?'':textDecide">
                            <a href (click)="clickShowIntent($event,'decide')" [class.intent-disabled]="!canDecide">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-thumbs-up"></i> <span>Decide</span>
                                <span class="pull-right-container" *ngIf="countDecide>0">
                                <span class="label label-primary pull-right">{{countDecide}}</span>
                            </span>
                            </a>
                        </li>
                        <li [style.background-color]="getConferenceColor()" class="intent-border" [attr.aria-disabled]="!canProduce" data-placement="right" [title]="canProduce?'':textProduce">
                            <a href (click)="clickShowIntent($event,'produce')" [class.intent-disabled]="!canProduce">
                                <i aria-hidden="true" style="margin-left: -5px;" class="fa fa-book"></i> <span>Produce</span>
                            </a>
                        </li>
                    </template>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding-left: 5px; padding-top: 70px;padding-right: 5px; padding-bottom: 20px; background: #fff" aria-live="polite" aria-atomic="true" role="main">
            <ng-content select="[dime-placeholder=content]"></ng-content>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer" role="contentinfo">
            <div class="row" style="color: black;">
                <div class="col-lg-12">
                    <img alt="springer nature logo" src="asset/img/SN_logo.png" style="margin-top: 10px;margin-bottom: 5px;margin-left: auto;margin-right: auto;display: block;height: 25px;">
                </div>
	        </div>
	        <div class="row" style="color: black;">
	            <div class="col-lg-12 text-center">
	                <p class="text-center" style="margin-top: 15px;">
	                    <a href (click)="toLegal($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Legal Notice</a>
	                    <a href (click)="toTerms($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Terms and Conditions</a>
	                    <a href="https://www.springer.com/gp/privacy-statement/627414" target="_blank" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Privacy</a>
							  <!--
	                    <a href (click)="toPrivacy($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Privacy</a>
							  -->
	                    <a href (click)="toAccessibility($event)" style="color: #555;text-decoration: underline;font-size: 14px;margin: 5px 10px;">Accessibility</a>
	                </p>
	            </div>
	        </div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-12">
	            <p style="font-size: 14px; color: #555;" class="text-center">
				    Copyright © 2018 <a tabindex="0" style="color:#555;text-decoration: underline" href="http://www.springernature.com/">Springer Nature</a>
	            </p>
	            <p style="font-size: 14px; color: #555; margin-top:-15px;" class="text-center">
				    All rights reserved
	            </p>
	        </div>
	    </div>
        </footer>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div aria-hidden="true" class="control-sidebar-bg"></div>
    </div>
</div>
