.intent-border {
    border-left: solid;
    border-left-width: 10px;
    border-left-color: #002c5a;
}

.intent-border:hover

.intent-border:focus {
    border-left: solid;
    border-left-width: 10px;
    border-left-color: #002c5a;
}

.intent-disabled {
	pointer-events: none !important;
   	cursor: not-allowed;
   	color: #a7a5a5!important;
}

.tooltip-inner {
	white-space:nowrap;
	max-width:none;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right)
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:focus>a>span:not(.pull-right) {
	margin-left:-15px;
}

a.dime-focusable:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.skin-black-light .sidebar-menu>li>a {
	border: none;
}