<div aria-atomic="true" aria-label="button group" aria-live="polite" class=" btn-group" role="navigation">
  <div class="btn-group btn-group-sm decide-dropdown" role="group">
    <button type="button" class="btn btn-default dropdown-toggle decide-dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
      {{getToggleLabel()}} 
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="decide-dropdown-li"><a class="decide-dropdown-button" (click)="buttonAcceptClicked($event)"> Accept </a></li>
      <li class="decide-dropdown-li"><a class="decide-dropdown-button" (click)="buttonWaekAcceptClicked($event)"> Weak Accept </a></li>
      <li class="decide-dropdown-li"><a class="decide-dropdown-button" (click)="buttonIndifferentClicked($event)"> Indifferent </a></li>
      <li class="decide-dropdown-li"><a class="decide-dropdown-button" (click)="buttonWeakRejectClicked($event)"> Weak Reject </a></li>
      <li class="decide-dropdown-li"><a class="decide-dropdown-button" (click)="buttonRejectClicked($event)"> Reject </a></li>
    </ul>
  </div>
</div>