.item {
  color: green;
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
}

.item-disabled {
  color: #ccc;
}

.rejected {
  color: #dd4b39;
  display: none;
  cursor: pointer;
}

.is-rejected .item {
  display: none;
}

.is-rejected .rejected {
  display: inline !important;
}

ph[dime-placeholder="submitted"] a[data-toggle="modal"], ph[dime-placeholder="assigned"] a[data-toggle="modal"], 
ph[dime-placeholder="reviewed"] a[data-toggle="modal"], ph[dime-placeholder="accepted"] a[data-toggle="modal"],
ph[dime-placeholder="final"] a[data-toggle="modal"] {
	display: none;
}
