<div aria-atomic="true" [attr.id]="'paper-status-' + paperId" [ngClass]="getRejectedClass()" aria-live="polite" aria-label="paper status indicator">
	<div class="item" id="paper-status-placeholder-submitted" [ngClass]="getSubmittedClass()">
		<i class="item fa fa-paper-plane-o" [ngClass]="getSubmittedClass()" (click)="showModalSubmitted()" data-toggle="tooltip" data-trigger="hover" data-placement="top" [attr.data-original-title]="getSubmittedTooltip()"></i>
		<ng-content select="[dime-placeholder=submitted]"></ng-content>
	</div>
	<div class="item" [ngClass]="getAssignedClass()">
		<i class="item fa fa-user-o" [ngClass]="getAssignedClass()" (click)="showModalAssigned()" data-toggle="tooltip" data-trigger="hover" data-placement="top" [attr.data-original-title]="getAssignedTooltip()"></i>
		<ng-content select="[dime-placeholder=assigned]"></ng-content>
	</div>
	<div class="item" [ngClass]="getReviewedClass()">
		<i class="item fa fa-eye" [ngClass]="getReviewedClass()" (click)="showModalReviewed()" data-toggle="tooltip" data-trigger="hover" data-placement="top" [attr.data-original-title]="getReviewedTooltip()"></i>
		<ng-content select="[dime-placeholder=reviewed]"></ng-content>
	</div>
	<div class="item" [ngClass]="getAcceptedClass()">
		<i class="item fa fa-check" [ngClass]="getAcceptedClass()" (click)="showModalAccepted()" data-toggle="tooltip" data-trigger="hover" data-placement="top" [attr.data-original-title]="getAcceptedTooltip()"></i>
		<ng-content select="[dime-placeholder=accepted]"></ng-content>
	</div>
	<div class="item" [ngClass]="getFinalClass()">
		<i class="item fa fa-lock" [ngClass]="getFinalClass()" (click)="showModalFinal()" data-toggle="tooltip" data-trigger="hover" data-placement="top" [attr.data-original-title]="getFinalTooltip()"></i>
		<ng-content select="[dime-placeholder=final]"></ng-content>
	</div>
	<span class="rejected" (click)="showModalRejected()">rejected</span>
	<ng-content select="[dime-placeholder=rejected]"></ng-content>
</div>