<div aria-label="button group" class="btn-group toggle-buttongroup" role="navigation">
  <button aria-label="Accept" class="btn btn-sm toggle-button" [ngClass]="getAcceptClass()" tabindex="0" type="button" (click)="switchAccept($event)">
    Accept
  </button>
  <button aria-label="Reject" class="btn btn-sm toggle-button" [ngClass]="getRejectClass()" tabindex="1" type="button" (click)="switchReject($event)">
    Reject
  </button>
</div>