<dl class="dl-horizontal">
    <dt class="desc-label">Organization</dt>
    <dd *ngIf="!isEmpty(getOrganization())">{{getOrganization()}}</dd>
    <dd *ngIf="isEmpty(getOrganization())" class="desc-empty">--</dd>
    <dt class="desc-label">Department</dt>
    <dd *ngIf="!isEmpty(getDepartment())">{{getDepartment()}}</dd>
    <dd *ngIf="isEmpty(getDepartment())" class="desc-empty">--</dd>
    <dt class="desc-label">Street</dt>
    <dd *ngIf="!isEmpty(getStreet())">{{getStreet()}}</dd>
    <dd *ngIf="isEmpty(getStreet())" class="desc-empty">--</dd>
    <dt class="desc-label">Zip Code</dt>
    <dd *ngIf="!isEmpty(getZipCode())">{{getZipCode()}}</dd>
    <dd *ngIf="isEmpty(getZipCode())" class="desc-empty">--</dd>
    <dt class="desc-label">City</dt>
    <dd *ngIf="!isEmpty(getCity())">{{getCity()}}</dd>
    <dd *ngIf="isEmpty(getCity())" class="desc-empty">--</dd>
    <dt class="desc-label">State</dt>
    <dd *ngIf="!isEmpty(getState())">{{getState()}}</dd>
    <dd *ngIf="isEmpty(getState())" class="desc-empty">--</dd>
    <dt class="desc-label">Country</dt>
    <dd *ngIf="!isEmpty(getCountry())">{{getCountry()}}</dd>
    <dd *ngIf="isEmpty(getCountry())" class="desc-empty">--</dd>
</dl>