<div class="review-state" [ngClass]="getStateClass()" aria-atomic="true" aria-label="Show" aria-live="polite" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="" [attr.data-original-title]="getTooltip()">
    <div class="progress-bar-striped review-state-indicator" [ngClass]="getIndicatorClass()"></div>
</div>