<div [ngClass]="wrapWithPanel ? 'form-group' : 'option-div-noeffect'">
	<label *ngIf="wrapWithPanel" class="text-left">
		{{propertyName}}
	</label>
	<div [ngClass]="wrapWithPanel ? 'panel panel-default' : 'option-div-noeffect'">
		<div [ngClass]="wrapWithPanel ? 'option-panel-body' : 'option-div-noeffect'">
			<div *ngIf="parentExists" class="option-wrapper" [ngClass]="{'option-wrapper--inline': inlineParentValue, 'option-wrapper--unchecked': !isInherited}" aria-atomic="true" aria-live="polite">
				<div class="option-label-wrapper">
					<label class="option-label">
						<input type="radio" class="option-radio" name="{{optionId}}" value="inherit" (change)="select($event)" [checked]="isInherited">
						<span class="option-radio-label">Inherit from {{parentName}}:</span>
					</label>
				</div>
				<div class="option-value-wrapper">
					<ng-content select="[dime-placeholder=parent]"></ng-content>
				</div>
			</div>
			<div class="option-wrapper" [ngClass]="{'option-wrapper--inline': inlineCustomValue}" aria-atomic="true" aria-live="polite">
				<div *ngIf="showCustomValueLabel" class="option-label-wrapper">
					<label class="option-label" [ngClass]="{'option-label--unchecked': isInherited}">
						<input *ngIf="parentExists" type="radio" class="option-radio" name="{{optionId}}" value="custom" (change)="select($event)" [checked]="!isInherited">
						<span class="option-radio-label">{{customValueLabel()}}</span>
					</label>
				</div>
				<div *ngIf="!isInherited" class="option-value-wrapper">
					<ng-content select="[dime-placeholder=value]"></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>
