.option-wrapper {
	width: 100%;
}

.option-wrapper--inline {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
}

.option-wrapper--unchecked {
	color: gray;
}

.option-panel-body {
	margin: 10px;
}

.option-label-wrapper--inline {
	margin: 5px;
}

.option-label {
	margin: 0;
}

.option-radio {
	min-width: 16px;
	min-height: 16px;
	vertical-align: middle;
	margin: 0;
}

.option-radio-label {
	display: inline-block;
}

.option-value-wrapper {
	margin: 5px 10px;
	flex: 1;
}

.option-value--unchecked {
	color: gray;
}

.option-div-noeffect {
	margin: 0 !important;
	padding: 0 !important;
}
