.values-container {
	display: flex;
	flex-wrap: wrap;
}

.value-container {
	background-color: #d8e2ef;
	margin: 2px 5px;
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 4px;
	white-space: nowrap;
}

.value-container-deletable {
	padding-right: 2px;
	border-radius: 0 10px 10px 0;
}

.value {
	display: inline-block;
	padding: 2px 7px;
}

.btn-delete {
	background-color: transparent;
	font-size: 12px;
	line-height: 1.5;
	border: none;
	color: #777;
	margin-left: -2px;
	padding: 1px 3px;
}

.btn-delete:hover {
	color: #800;
}

.btn-delete:focus {
	outline: none;
}

