<div class="values-container">
  <div *ngFor="let keyword of keywords; let i=index" class="value-container" [ngClass]="getValueContainerClass()">
    <div class="value">
      {{keyword}}
    </div>
    <button *ngIf="deletable" (click)="doRemoveKeyword($event,i)" class="btn-delete" type="submit" title="Remove">
      <i class="fa fa-close"></i>
    </button>
  </div>
</div>