.assign-state {
  background-color: #eee;
  overflow: hidden;
  width: 38px;
  height: 14px;
  padding: 1px;
  margin: 4px;
}

.assign-state-frozen {
  box-shadow: 0 0 2pt 2pt #0088d8;
  border-radius: 0px;
}

.state-indicator {
  width: 36px;
  height: 12px;
  border-radius: 1px;
}

.state-indicator-unassigned {
  width: 8px;
  background-color: #dd4b39;
}

.state-indicator-partial {
  width: 20px;
  background-color: #f39c12;
}

.state-indicator-complete {
  width: 36px;
  background-color: #00a65a;
}
