<div class="row" style="display: flex;">
	<div class="col-md-6 text-left" style="width: unset; padding-right: 0px;">
	 	<input [ngModel]="state" (ngModelChange)="changed($event)" [attr.id]="hashCode" placeholder="" type="checkbox">
	</div>
	<div class="col-md-6 text-left" style="margin-bottom: 15px; width: unset; flex: 1 1 0%; padding-left: 5px;">
		<label [attr.for]="hashCode">
			<ng-content></ng-content>
		</label>
	</div>
</div>